{% extends 'base_admin.jinja2' %}

{% block body %}
	<h3>New Theme</h3>
	<form method="post" action="/user/theme" enctype="multipart/form-data">
		<select name="theme">
			<option value="night">Night</option>
			<option value="day">Day</option>
		</select>
		<input type="submit">
	</form>
{% endblock body %}
